<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <!-- Latest compiled JavaScript -->
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body>


        <div class = "container">
        <h1 class=" text-success text-center"> Edit Collage details</h1><br>
            <div class = "col-lg-8 m-auto d-block">
                    <div class="form-gruop">

                        <label>Collage Name</label>
                        <input type="text" name="collageName" class="form-control" id="collage_name"></input>
                        <span id="collageName1" class="text-danger font-weight-bold"></span>
                    </div>

                    <div class="form-gruop">

                        <label>Collage Code</label>
                        <input type="text" name="collageCode" class="form-control" id="code"></input>
                        <span id="collageCode1" class="text-danger font-weight-bold"></span>
                    </div>

                    <div class="form-gruop">

                        <label>Collage Type</label>
                        <input type="text" name="collageType" class="form-control" id="collages_type"></input>
                        <span id="collageType1" class="text-danger font-weight-bold"></span>
                    </div>


                    <div class="form-gruop">

                        <label>Collage City</label>
                        <input type="text" name="collageCity" class="form-control" id="city"></input>
                        <span id="collageCity1" class="text-danger collageCity1 font-weight-bold"></span>
                    </div><br>

                   <div class = "btn btn-success">

                        <Button onclick="getUpdateData()">Update</Button>
                   </div>
                   <div class = "btn btn-success">

                        <Button onclick="getDeleteData()">Delete</Button>
                   </div>

                  
            </div>
        
        </div>

        <script type="text/javascript">

        
        function getUpdateData(){
            
            const url = "http://localhost:8000/core/api/update-collage/<int:id>/" 

            var collageName = document.getElementById("collage_name").value;
            var collageCode = document.getElementById("code").value;
            var collageType = document.getElementById("collages_type").value;
            var collageCity = document.getElementById("city").value;

            $.get(url,
                {
                    collage_name:collageName,
                    code:collageCode,
                    collages_type:collageType,
                    city:collageCity,

                },
            function(data,status){
                $("#collageName1").val('');
                $("#collageCode1").val('');
                $("#collageType1").val('');
                $("#collageCity1").val('');
                
                alert("Data Updated " + "\nStatus: " + status);
                
            });
            
        }




        function getDeleteData(){
            
            const url = "http://localhost:8000/core/api/delete-collage/<int:id>/" 

            var collageName = document.getElementById("collage_name").value;
            var collageCode = document.getElementById("code").value;
            var collageType = document.getElementById("collages_type").value;
            var collageCity = document.getElementById("city").value;

            $.post(url,
                {
                    collage_name:collageName,
                    code:collageCode,
                    collages_type:collageType,
                    city:collageCity,

                },
            function(data,status){
                $("#collageName1").val('');
                $("#collageCode1").val('');
                $("#collageType1").val('');
                $("#collageCity1").val('');
                
                alert("Data Deleted " + "\nStatus: " + status);
                
            });
            
        }
        </script>
    </body>
</html>